<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackfic</title>
    <script
        th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous">
    </script>
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "[THE_API_KEY_HERE]",
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
        });
    </script>
    <script async th:src="@{https://maps.googleapis.com/maps/api/js?key=[THE_API_KEY_HERE]&callback=viewMap}"></script>
    <script th:src="@{../JS/trackfic_functions.js}"></script>
    <link th:href="@{../BOOTSTRAP/bootstrap-5.1.0-dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../BOOTSTRAP/external.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <script th:src="@{../BOOTSTRAP/bootstrap-5.1.0-dist/js/bootstrap.bundle.min.js}">
        const navLinks = document.querySelectorAll('.nav-item');
        const menuToggle = document.getElementById('navbarToggler');
        const bsCollapse = new bootstrap.Collapse(menuToggle);
        navLinks.forEach((l) => {
            l.addEventListener('click', () => { bsCollapse.toggle() })
        });
    </script>
</head>
<!-- The header / navbar -->
<body style="overflow-x: hidden;">
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="border-bottom: 5px solid black; font-weight: bold;">
            <div class="container-fluid" style="width: 100%">
                <img class="logo border border-4 border-warning" th:src="@{../images/trackfic_logo_bg.jpg}" style="margin-left: 5px;"/>
                <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel" style="width: 300px;">
                    <div class="offcanvas-header bg-warning">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="font-weight: bold;">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body bg-dark mb-2 mb-lg-0 mb-xl-0">
                        <ul class="navbar-nav justify-content-center flex-grow-1 mt-1">
                            <li class="nav-item pe-4">
                                <a class="nav-link active" id="home-page-nav-link" onclick="showHomePage()">Home</a>
                            </li>
                            <li class="nav-item pe-4">
                                <a class="nav-link" id="new-accident-nav-link" onclick="showNewAccident()">New Accident</a>
                            </li>
                            <li class="nav-item pe-4">
                                <a class="nav-link active" id="view-map-nav-link" onclick="showMap()">View Map</a>
                            </li>
                            <li class="nav-item pe-1">
                                <a class="nav-link active" id="all-accidents-nav-link" onclick="showAllAccidents()">All Accidents</a>
                            </li>
                        </ul>
                        <button type="button" onclick="loginSignup()" id="login-btn" class="btn btn-warning nav-button my-1" style="margin-right: 10px; font-weight: bold;">Login</button>
                        <button type="button" onclick="loginSignup()" id="signup-btn" class="btn btn-warning nav-button my-1" style="font-weight: bold;">Signup</button>
                        <button type="button" onclick="showProfile()" id="profile-btn" class="btn btn-warning nav-button my-1" style="margin-right: 10px; font-weight: bold;">Profile</button>
                        <button type="button" onclick="logoutUser()" id="logout-btn" class="btn btn-warning nav-button my-1" style="font-weight: bold;">Logout</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Homepage Content -->
    <div class="home-page vid-container">
        <video th:src="@{../videos/herovid.mp4}" autoPlay loop muted></video>
        <div class="text-center">
            <h1 class="title pb-3">WITNESSED AN ACCIDENT?</h1>
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-10 col-xxl-10 mx-auto">
                <button type="button" id="new_accident_btn" class="btn btn-warning my-1 py-2 home-btn" onclick="showNewAccident()">Create Accident Form</button>
                <button type="button" id="view_map_btn" class="btn btn-warning my-1 py-2 home-btn" onclick="showMap()">View The Map</button>
                <button type="button" id="all_accidents_btn" class="btn btn-warning my-1 py-2 home-btn" onclick="showAllAccidents()">View All Accidents</button>
            </div>
        </div>
    </div>
    <!-- New Accident Form Content -->
    <div id="new-accident-body" class="new-accident img-container">
        <img class="bg-image" th:src="@{../images/city_bg.jpg}" />
        <div class="row" style="margin-right: 0px !important; color: white; padding-top: 100px;">
            <div id="new-accident-left-section" class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-3 col-xxl-3"></div>
            <div class="text-center col-10 col-sm-8 col-md-8 col-lg-8 col-xl-6 col-xxl-6">
                <h2 class="container">New Accident</h2>
                <h6 class="text-center m-auto" style="width: 96%;">Please fill in the appropriate data for the accident.</h6>
                <h6 class="text-center m-auto" style="width: 96%;">You can choose to use your current location, or fill in the address manually.</h6>
            </div>
            <div id="new-accident-right-section" class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-3 col-xxl-3"></div>
        </div>
        <div id="new-accident-body-form" class="row my-5" style="margin-right: 0px !important;">
            <div id="new-accident-left-section" class="col-1 col-sm-2 col-md-2 col-lg-3 col-xl-3 col-xxl-3"></div>
            <div id="new-accident-form-section" class="col-10 col-sm-8 col-md-8 col-lg-6 col-xl-6 col-xxl-6 pb-5 pt-3 border border-4 border-warning" style="margin-bottom: 120px; background-color: white;">
                <h5 class="text-center py-2" id="new-accident-post-notification"></h5>
                <form role="form" id="new-accident-addForm" method="POST">      
                    <div class="row pb-3 mx-auto" style="width: 96%">
                        <div class="col-6">
                            <label id="latitudeLabel" class="form-label">Latitude <span style="color:red">*</span></label>
                            <input type="number" step="any" class="form-control" id="inputLatitude" required>
                        </div>
                        <div class="col-6">
                            <label id="longitudeLabel" class="form-label">Longitude <span style="color:red">*</span></label>
                            <input type="number" step="any" class="form-control" id="inputLongitude" required>
                        </div>
                    </div>
                    <div class="text-center mx-auto pb-2">
                        <button type="button" class="btn btn-warning nav-button my-1" style="font-weight: bold; width: 240px" onclick="getLocation(true)">Use Current Location</button>
                        <div id="coordsError"></div>
                    </div>
                    <hr>
                    <div class="row py-3 mx-auto" style="width: 96%">
                        <div class="col-4">
                            <label id="streetNumLabel" class="form-label">Street No. <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="inputStreetNum" required>
                        </div>
                        <div class="col-8">
                            <label id="streetNameLabel" class="form-label">Street Name <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="inputStreetName" required>
                        </div>      
                    </div>
                    <div class="row py-3 mx-auto" style="width: 96%">
                        <div class="col-4">
                            <label id="suburbLabel" class="form-label">Suburb <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="inputSuburb">
                        </div>
                        <div class="col-4">
                            <label id="postcodeLabel" class="form-label">Postcode <span style="color:red">*</span></label>
                            <input type="number" class="form-control" id="inputPostcode">
                        </div>
                        <div class="col-4">
                            <label id="stateLabel" class="form-label">State <span style="color:red">*</span></label>
                            <select class="form-control" id="inputState" onchange="getLocation(false)">
                                <option value="bad" selected disabled>Select State...</option>
                                <option value="NSW">NSW</option>
                                <option value="QLD">QLD</option>
                                <option value="SA">SA</option>
                                <option value="TAS">TAS</option>
                                <option value="WA">WA</option>
                                <option value="NT">NT</option>
                                <option value="ACT">ACT</option>
                                <option value="VIC">VIC</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="row pb-3 mx-auto" style="width: 96%">
                        <div class="col-12">
                            <label class="form-label">Accident Type <span style="color:red">*</span></label>
                            <select class="form-control" id="inputAccType" onchange="isOther()" required>
                                <option value="" selected disabled>Select Accident Type...</option>
                                <option value="Car Crash">Car Crash</option>
                                <option value="Truck Crash">Truck Crash</option>
                                <option value="Motorcycle Crash">Motorcycle Crash</option>
                                <option value="Bus Crash">Bus Crash</option>
                                <option value="Hit and Run">Hit and Run</option>
                                <option value="Overturned Truck">Overturned Truck</option>
                                <option value="Car Fire">Car Fire</option>
                                <option value="Spill">Spill</option>
                                <option value="Vehicle and Pedestrian">Vehicle and Pedestrian</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="col-12 pt-3">
                            <label id="inputAccDescLabel" class="form-label">Accident Description <span style="color:red">*</span></label>
                            <input type="textarea" class="form-control" id="inputAccDesc" required>
                        </div>
                    </div>   
                    <div class="row pb-3 mx-auto" style="width: 96%">   
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                            <label class="form-label">Vehicles Involved <span style="color:red">*</span></label>
                            <input type="number" class="form-control" id="inputVehicleCount" required>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
                            <label class="form-label">Severity <span style="color:red">*</span></label>
                            <select class="form-control" id="inputSeverity" required>
                                <option value="" selected disabled>Select Severity...</option>
                                <option value="Minor">Minor</option>
                                <option value="Major">Major</option>
                                <option value="Severe">Severe</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 col-xxl-6 pt-3 pt-sm-3 pt-md-3 pt-lg-3 pt-xl-0">
                            <label class="form-label">Witness Email <span style="color:red">*</span></label>
                            <input type="email" class="form-control" id="inputWitnessEmail" required>
                        </div>    
                        
                        
                    </div>
                    <hr>
                    <div class="text-center pt-4">
                        <button type="submit" id="addAccident" class="btn btn-warning w-25" style="font-size: larger; font-weight: bold;">Submit</button>
                        <button type="reset" class="btn btn-secondary w-25" style="font-size: larger; font-weight: bold; color: black;">Reset</button>
                    </div>
                </form>
            </div>
            <div id="new-accident-right-section" class="col-1 col-sm-2 col-md-2 col-lg-3 col-xl-3 col-xxl-3 mb-5"></div>
        </div>
    </div>
    <!-- Map Content -->
    <div id="view-map-body" class="view-map img-container">
        <img class="bg-image" th:src="@{../images/city_bg.jpg}" />
        <div class="row" style="margin-right: 0px !important; color: white; padding-top: 100px;">
            <div id="view-map-left-section" class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-3 col-xxl-3"></div>
            <div class="text-center col-10 col-sm-8 col-md-8 col-lg-8 col-xl-6 col-xxl-6">
                <h2>The Accidents Map</h2>
                <h6 class="text-center m-auto" style="width: 90%;">View all the accidents around a location.</h6>
            </div>
            <div id="view-map-right-section" class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-3 col-xxl-3"></div>
        </div>
        <div class="row map-container justify-content-center" style="margin-right: 0px !important;">
            <div class="col-2"></div>
            <div id="map" class="col-8 border border-4 border-warning"></div>
            <div class="col-2"></div>
        </div>
        <div class="row" style="margin-right: 0px !important; padding-bottom: 100px;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-5"></div>
        </div>
    </div>
    <!-- All Accidents Content -->
    <div id="all-accidents-body" class="all-accidents img-container">
        <img class="bg-image" th:src="@{../images/city_bg.jpg}" />
        <div class="row" style="margin-right: 0px !important; color: white; padding-top: 100px;">
            <div id="all-accidents-left-section" class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-3 col-xxl-3"></div>
            <div class="text-center col-10 col-sm-8 col-md-8 col-lg-8 col-xl-6 col-xxl-6">
                <h2 class="container">All Accidents</h2>
                <h6 class="text-center m-auto" style="width: 90%;">Here you can choose the accident severities and the state in which you are located, and it will display a list of the filtered accidents.</h6>
            </div>
            <div id="all-accidents-right-section" class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-3 col-xxl-3"></div>
        </div>
        <div class="row mb-1" style="margin-right: 0px !important; color: white;">
            <div id="all-accidents-left-section" class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-2 col-xxl-3"></div>
            <div id="all-accidents-selector-body" class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-6 text-center mt-4 mb-1 m-auto border border-4 border-warning" style="border-radius: 15px; background-color: white; height: 75%">
                <form style="color: black;" class="form-inline text-center pt-2 mb-2">
                    <div class="row align-items-center" style="padding-left: 3%; padding-right: 3%;">
                        <label style="word-wrap:break-word;" class="col-3 my-2"><input type="checkbox" id="minor_opt" name="selector[]" value="Minor" onchange="allAccidents()" checked/> Minor Accidents</label>
                        <label style="word-wrap:break-word;" class="col-3 my-2"><input type="checkbox" id="major_opt" name="selector[]" value="Major" onchange="allAccidents()" checked/> Major Accidents</label>
                        <label style="word-wrap:break-word;" class="col-3 my-2"><input type="checkbox" id="severe_opt" name="selector[]" value="Severe" onchange="allAccidents()" checked/> Severe Accidents</label>
                        <select class="form-control col" id="state_dd" onchange="allAccidents()">
                            <option value="All" id="all_state" selected>All States</option>
                            <option value="NSW" id="nsw_state">NSW</option>
                            <option value="QLD" id="qld_state">QLD</option>
                            <option value="SA" id="sa_state">SA</option>
                            <option value="TAS" id="tas_state">TAS</option>
                            <option value="WA" id="wa_state">WA</option>
                            <option value="NT" id="nt_state">NT</option>
                            <option value="ACT" id="act_state">ACT</option>
                            <option value="VIC" id="vic_state">VIC</option>
                        </select>
                    </div>
                </form>
            </div>
            <div id="all-accidents-right-section" class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-2 col-xxl-3"></div>
        </div>
        <div id="all-accidents-inside-body" class="row mb-1 mt-2" style="margin-right: 0px !important; min-height: 45vh">
            <div id="all-accidents-left-section" class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-2 col-xxl-3"></div>
            <div id="all-accidents-form-section" class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-6 pb-5 pt-2 border border-4 border-warning" style="margin-bottom: 100px; background-color: white;">
                <h6 id="display_acc_error" class="text-center pb-3"></h6>
                
                <div id="allAccidents"></div>
                
            </div>
            <div id="all-accidents-right-section" class="col-1 col-sm-1 col-md-2 col-lg-2 col-xl-2 col-xxl-3"></div>
        </div>
        <div class="row" style="margin-right: 0px !important;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-5"></div>
        </div>
    </div>
    <!-- Login/Signup Content -->
    <div id="login-signup-body" class="login-signup img-container">
        <img class="bg-image" th:src="@{../images/city_bg.jpg}" />
        <div class="row" style="margin-left: 0px !important; margin-right: 0px !important; color: white; padding-top: 100px;">
            <div id="login-signup-left-section" class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-3 col-xxl-3"></div>
            <div class="text-center col-10 col-sm-8 col-md-8 col-lg-8 col-xl-6 col-xxl-6">
                <h2 class="container">Login and Signup</h2>
                <h6 class="text-center m-auto" style="width: 90%;">Enter your login details below. If you aren't a member, use the 'Sign Up' form.</h6>
            </div>
            <div id="login-signup-right-section" class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-3 col-xxl-3"></div>
        </div>
        <div id="login-signup-inside-body" class="row justify-content-center" style="margin-left: 0px !important; margin-right: 0px !important; padding-top: 5px; padding-bottom: 140px;">
            <div id="login-signup-left-inner-section" class="mt-5 me-1 me-md-5 pt-3 col-10 col-sm-10 col-md-5 col-lg-4 col-xl-4 col-xxl-4 border border-4 border-dark" style="background-color: white;">    
                <div class="mt-2 mx-2 py-1 border border-2 border-dark bg-secondary bg-gradient">
                    <img th:src="@{../images/trackfic_logo_transparent.png}" class="img-fluid justify-content-center" style="padding-left: 14%; padding-right: 14%;">
                </div>
                <p class="px-3 pt-4"><b>Please login to your account:</b></p>
                <form>
                    <!-- Email input -->
                    <div class="form-outline px-3 pb-1">
                        <input type="email" id="loginEmail" class="form-control" placeholder="Email..."/>  
                    </div>

                    <!-- Password input -->
                    <div class="form-outline px-3 py-1">
                        <input type="password" id="loginPassword" class="form-control" placeholder="Password..."/>
                    </div>

                    <!-- Submit button -->
                    <div class="text-center mt-5">
                        <button type="button" id="loginSubmit" class="btn btn-warning m-5 py-2 text-center" style="font-weight: bold; width: 50%">Log In</button>
                    </div>
                </form>
            </div>
            <div id="login-signup-right-inner-section" class="pt-3 mt-5 col-10 col-sm-10 col-md-5 col-lg-4 col-xl-4 col-xxl-4 border border-4 border-dark" style="background-color: white;">    
                <div class="mt-2 mx-2 py-3 px-2 border border-2 border-dark bg-warning bg-gradient">
                    <h6 class="text-center" style="font-size: 2.1vmin;">Becoming a member of <b>Trackfic</b> provides you with a variety of extra features. Users are able to create accident reports, and view their reports to either update, or delete in their account profile.</h6>
                </div>
                <p class="px-3 pt-4"><b>Please enter the following details to sign up:</b></p>
                <form>
                    <!-- First name and last name -->
                    <div class="row form-outline px-3 pb-1">
                        <div class="col-12 col-md-6 pb-1 pb-md-0"><input type="text" id="signupFirstName" class="form-control" placeholder="First Name..."/>  </div>
                        <div class="col-12 col-md-6 pt-1 pt-md-0"><input type="text" id="signupLastName" class="form-control" placeholder="Last Name..."/>  </div>
                    </div>
                    
                    <!-- Email input -->
                    <div class="row form-outline px-3 py-1">
                        <div class="col-12 col-md-6 pb-1 pt-md-0"><input type="text" id="signupMobile" class="form-control" placeholder="Mobile..."/></div>
                        <div class="col-12 col-md-6 pt-1 pt-md-0"><input type="email" id="signupEmail" class="form-control" placeholder="Email..."/></div>
                    </div>
                  
                    <!-- Password input -->
                    <div class="form-outline px-3 py-1">
                        <input type="password" id="signupPassword" class="form-control" placeholder="Password..."/>
                    </div>
                  
                    <!-- Submit button -->
                    <div class="text-center">
                        <button type="button" id="signupSubmit" class="btn btn-warning m-5 py-2 text-center" style="font-weight: bold; width: 50%">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Profile Content -->
    <div id="profile-body" class="profile img-container">
        <img class="bg-image" th:src="@{../images/city_bg.jpg}" />
        <div class="row" style="margin-right: 0px !important; color: white; padding-top: 100px;">
            <div id="profile-left-section" class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-3 col-xxl-3"></div>
            <div class="text-center col-10 col-sm-8 col-md-8 col-lg-8 col-xl-6 col-xxl-6">
                <h2 class="container">Profile</h2>
                <h6 class="text-center m-auto" style="width: 60%;">Hi <span id="getProfileFirstName"></span>!<br> You can choose to update your personal details here, or make some changes to accident reports you've created.</h6>
            </div>
            <div id="profile-right-section" class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-3 col-xxl-3"></div>
        </div>
        <div id="profile-inside-body" class="row justify-content-center" style="margin-right: 0px !important; padding-top: 5px; padding-bottom: 140px;">
            <div id="profile-left-inner-section" class="mt-5 me-1 me-md-5 pt-3 col-10 col-sm-10 col-md-4 col-lg-3 col-xl-3 col-xxl-3 border border-4 border-dark" style="background-color: white; max-height: 88vh;">    
                <div class="mt-2 mx-2 py-1 border border-2 border-dark bg-secondary bg-gradient">
                    <img th:src="@{../images/trackfic_logo_transparent.png}" class="img-fluid justify-content-center" style="padding-left: 14%; padding-right: 14%;">
                </div>
                <p class="px-3 pt-4"><b>Your personal details:</b></p>
                <form>
                    <!-- First name, last name and mobile -->  
                    <div id="profileFirstNameInfo" class="form-outline px-3 pb-1">
                        <label id="profileFirstNameLabel">First Name: </label>
                        <input type="text" id="profileEditFirstNameInput" class="form-control" placeholder="First Name..." disabled/>
                    </div>

                    <div id="profileLastNameInfo" class="form-outline px-3 py-1">
                        <label id="profileLastNameLabel">Last Name:  </label>
                        <input type="text" id="profileEditLastNameInput" class="form-control" placeholder="Last Name..." disabled/>
                    </div>

                    <div id="profileMobileInfo" class="form-outline px-3 py-1">
                        <label id="profileMobileLabel">Mobile: </label>
                        <input type="text" id="profileEditMobileInput" class="form-control" placeholder="Mobile..." disabled/>
                    </div>

                    <!-- Email input -->
                    <div id="profileEmailInfo" class="form-outline px-3 py-1">
                        <label id="profileEmailLabel">Email: </label>
                        <input type="email" id="profileEditEmailInput" class="form-control" placeholder="Email..." disabled/>
                    </div>
                
                    <!-- Password input -->
                    <div id="profilePasswordInfo" class="form-outline px-3 py-1">
                        <label id="profilePasswordLabel">Password: </label>
                        <input type="password" id="profileEditPasswordInput" class="form-control" placeholder="Password..." disabled/>
                    </div>

                    <div id="profileConfirmPassword" class="form-outline px-3 pt-1">
                        <label id="profileConfirmPasswordLabel">Confirm Password: </label>
                        <input type="text" id="profileConfirmPasswordInput" class="form-control" placeholder="Confirm Password..."/>
                    </div>

                    <!-- Submit button -->
                    <div class="text-center pt-2">
                        <button type="button" onclick="updateProfileDetails()" id="editProfileDetails" class="btn btn-warning mt-3 mb-3 pb-1 text-center" style="font-weight: bold; width: 52%">Edit Details</button>
                        <button type="button" onclick="cancelProfileEdit()" id="cancelWitnessEdit" class="btn btn-warning mt-3 mb-3 pb-1 text-center" style="font-weight: bold; width: 30%">Cancel</button>
                        <button type="button" onclick="confirmProfileEdit()" id="confirmWitnessEdit" class="btn btn-warning mt-3 mb-3 pb-1 text-center" style="font-weight: bold; width: 50%">Confirm Changes</button>
                    </div>
                </form>
            </div>
            <div id="profile-right-inner-section" class="pt-3 mt-5 col-10 col-sm-10 col-md-6 col-lg-7 col-xl-7 col-xxl-7 border border-4 border-dark" style="background-color: white;">    
                <h4 class="text-center pt-2 mb-2">My Accident Reports</h4>
                <hr>
                <div id="allUsersAccidents"></div>
            </div>
        </div>
    </div>
    <!-- Modal for Delete Report -->
    <div class="modal fade" id="deleteSelectedReport" tabindex="-1" role="dialog" aria-labelledby="selectedReportModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="selected-report-title">Confirm Deletion?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <p>Are you sure you want to delete this accident report?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="deleteReport()" class="btn btn-danger">Delete</button>
            </div>
        </div>
        </div>
    </div>
    <!-- Modal for Error Messages -->
    <div class="modal fade" id="universalErrors" tabindex="-1" role="dialog" aria-labelledby="universalErrors" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="universalErrorTitle"></h5>
            <button type="button" class="close universalErrorClose" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p id="universalErrorBody"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary universalErrorClose" data-toggle="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    <!-- Footer for most pages -->
    <footer class="new-accident all-accidents view-map login-signup profile bg-dark text-center text-white fixed-bottom" style="border-top: 5px solid black;">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p>Developed by Traffic Buffering... <span>&copy</span> 2023</p>
            <p style="margin-top: -10px; margin-bottom: 3px; font-size: x-small;"><a class="text-white" style="text-decoration: none;" th:href="@{https://www.vecteezy.com/free-vector/night}">Night Vectors by Vecteezy</a></p>
        </div>
    </footer>
    <!-- Footer for homepage -->
    <footer class="home-page bg-dark text-center text-white fixed-bottom" style="border-top: 5px solid black;">
        <div class="text-center p-4 pb-2" style="background-color: rgba(0, 0, 0, 0.2);">
            <p class="footer-group">Developed by Traffic Buffering... <span>&copy</span> 2023</p>
        </div>
    </footer>
</body>
</html>